# https://sikkerhet.nav.no/docs/verktoy/chainguard-dockerimages/#automagisk-oppdatering-av-tags-p%C3%A5-github
name: "Check for newer image versions"

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  digest-update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      id-token: write
    steps:
      - uses: actions/checkout@v5
      - uses: chainguard-dev/digestabot@43222237fd8a07dc41a06ca13e931c95ce2cedac
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
