name: Sanity Build

on:
  pull_request:
  workflow_dispatch:

jobs:
  sanity-build:
    name: Sanity Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.4

      - name: Install global dependencies
        shell: bash
        run: bun install --frozen-lockfile

      - name: Install API dependencies
        shell: bash
        working-directory: api
        run: bun install --frozen-lockfile

      - name: Add GitHub NPM registry token
        shell: bash
        working-directory: app
        run: echo -e "\n[install.scopes]\n\"@navikt\" = { token = \"${{ secrets.READER_TOKEN }}\", url = \"https://npm.pkg.github.com/\" }" >> bunfig.toml

      - name: Install app dependencies
        shell: bash
        working-directory: app
        run: bun install --frozen-lockfile

      - name: Typecheck API
        shell: bash
        working-directory: api
        run: bun run typecheck

      - name: Typecheck app
        shell: bash
        working-directory: app
        run: bun run typecheck

      - name: Lint
        shell: bash
        run: bun run lint

      - name: Run tests
        shell: bash
        run: bun test
